table.add_task {
    background-color: #ffffff;
    border: 0;
    border-collapse: collapse;
    font-size: 13px;
    font-family: Verdana, Arial;
    margin: 0 auto;
    style: table-layout:fixed;
    width: 920px;
}

.add_task th {
    background-color: #E7F1F7;
    border-width: 1px;
    border-style: solid;
    border-color: #ABABAB;
    padding: 3px;
}

.add_task td {
    border-width: 1px;
    border-style: solid;
    border-color: #ABABAB;
    padding: 3px;
}

.add_task td.control {
    text-align: center;
    width: 25px;
}

.add_task td.caption { }

.add_task td.date {
    text-align: center;
    width: 90px;
}

.add_task td.description {    
    style: table-layout:fixed;
    margin: 0 auto;
    font-size: 13px;
    font-family: Verdana, Arial;
    padding: 3px;
    width: 920px;
}

form.add_task {
    margin: 0;
    padding: 0;
}

input.task_caption {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    font-size: 13px;
    font-family: Verdana, Arial;
}

input.task_date {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    width: 90px;
    text-align: center;
    font-size: 13px;
    font-family: Verdana, Arial;
}

textarea.description {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    font-family: Verdana, Arial;
    padding: 0;
    resize: none;
    width: 100%;
    /*margin-left: 2px;
    margin-right: 2px;*/
}
