div.group_name {
    position: relative;
    font-size: 18px;
    font-family: Verdana, Arial;
    margin-left: 0px;
    padding: 2px;
}

table.task {
    background-color: #ffffff;
    border: 0;
    border-collapse: collapse;
    font-size: 13px;
    font-family: Verdana, Arial;
    margin: 0 auto;
    style: table-layout:fixed;
    width: 920px;
}

.task th {
    background-color: #E7F1F7;
    border-width: 1px;
    border-style: solid;
    border-color: #ABABAB;
    font-size: 13px;
    font-family: Verdana, Arial;
    padding: 3px;
}

.task td {
    border-width: 1px;
    border-style: solid;
    border-color: #ABABAB;
    font-size: 13px;
    font-family: Verdana, Arial;
    padding: 3px;
}

.task td.group {
    border: 0;
    font-size: 18px;
    font-family: Verdana, Arial;
    padding: 2px;
}

.task th.control {
    font-weight: normal;
    width: 25px;
}

.task th.caption {
    text-align: center;
}

.task th.date {
    text-align: center;
    width: 90px;
}

.task td.control {
    text-align: center;
    width: 25px;
}

.task td.caption { }

.task td.date {
    text-align: center;
    width: 90px;
}

.task td.description {
    display: none;
    margin: 0 auto;
    padding: 3px;
    style: table-layout:fixed;
    width: 920px;
}

.task td.editable_description {
    margin: 0 auto;
    padding: 3px;
    style: table-layout:fixed;
    width: 920px;
}

form.add_task {
    margin: 0;
    padding: 0;
}

input.task_caption {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    width: 100%;
    font-size: 13px;
    font-family: Verdana, Arial;
}

input.task_date {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    width: 90px;
    text-align: center;
    font-size: 13px;
    font-family: Verdana, Arial;
}

textarea.description {
    border-color: #ABABAB;
    border-style: solid;
    border-width: 1px;
    font-size: 13px;
    font-family: Verdana, Arial;
    padding: 0;
    resize: none;
    width: 100%;
}
